body {
  text-align: center;
  /* background-color: #011F3F; */
  background: linear-gradient(400deg,rgb(253, 206, 223),rgb(249, 245, 246),rgb(248, 232, 238),rgb(242, 190, 209));
  letter-spacing: 2px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color:rgb(255, 85, 187);
  text-shadow: 1px 1px 1px black;
}

.container {
  display: block;
  width: 50%;
  margin-top: 9rem;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color:rgb(179, 0, 0);
}

.green {
  background-color:rgb(0, 102, 0);
}

.blue {
  background-color:rgb(0, 0, 153)
  ;
}

.yellow {
  background-color:rgb(255, 255, 0);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media (max-width:600px) {
  body {
    text-align: center;
    /* background-color: #011F3F; */
    background: linear-gradient(400deg,rgb(253, 206, 223),rgb(249, 245, 246),rgb(248, 232, 238),rgb(242, 190, 209));
    letter-spacing: 2px;
  }
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin: 2%;
    color:rgb(255, 85, 187);
    text-shadow: 1px 1px 1px black;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 9rem;
    margin: auto;
  }
  
}